* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(209, 142, 65);
}

header.banner {
    background-image: url('https://i.redd.it/ouo0vm6gn9f91.png'); 
    background-size: cover;
    background-position: center; 
    color: white;
    text-align: center;
    padding: 80px 0; 
    height: 300px;
}


.navbar {
    display: flex;
    justify-content: left;
    gap: 30px;
    margin: 20px 0;
    margin-left: 30px;
}

.btn {
    background-color: rgb(209, 142, 65);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(129, 97, 48);
    transition: 0.3s;
}


.conteudo {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin: 20px;
}

.texto {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
    background-color: transparent; 
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.imagem {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(0, 0, 0);
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px; /* Space for footer */
}

.texto-container h1 {
    color: rgb(223, 220, 210);
    font-size: 20px;
    margin-bottom: 20px;
    background-color: transparent;
}

.texto-container {
    width: 90%;
    max-width: 900px;
    padding: 30px;
    word-wrap: break-word;
    background-color: rgb(107, 89, 61);
    border-radius: 10px;
    margin: 20px 0 20px 20px;
    display: block;
    box-sizing: border-box;
}

.form-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
}

.form-grupo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
}

.form-grupo label {
    color: white;
    background-color: transparent;
}

.form-grupo input, 
.form-grupo textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
}

.btn-submit {
    padding: 10px 20px;
    background-color: rgb(185, 136, 79);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
}

.btn-submit:hover {
    background-color: rgb(129, 97, 48);
}