
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap');


/* Display 1 */
.Div1{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: black;
}

.Div2{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    font-family: outfit;
}

button{
    background-color: blue;
    border-radius: 5px;
    height: 35px;
    width: 65px;
    color: white;
    display: flex;
    border-color: blue;
    align-items: center;
    font-family: outfit;
}

.Div3{
    display: flex;
    align-items: center;
    color: white;
}

/* Display 2 */

.Div4{
    margin-top: 1%;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: black;
}

.Div5{
    width: 300px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-family: outfit;
    margin: 20px;
}

/* Display 3 */

.Div6{
    margin-top: 1%;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: black;
    flex-direction: row-reverse;
}
